$color--black: #000;
$color--white: #fff;

.App {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  height: 1200px;
  text-align: center;
  color: $color--black;
  background-color: $color--white;
  overflow: hidden;
  position: relative;


.Link_Login {
  text-decoration: none;
  &:visited {
    color: #838080;
  }

}
