$color--black: #000;
$color--white: #fff;

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
<<<<<<< HEAD
  text-align: center;
  color: $color--black;
=======
  text-align: center;  
  color : $color--black;
  width: 1200px;
  height: 1000px;
>>>>>>> 86d75e60090f3668ec2b573fa75c53d201c838f0
  background-color: $color--white;
  overflow: hidden;
}
