$color--black: #000;
$color--white: #fff;

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  position: relative;
  text-align: center;
  color: $color--black;
  background-color: $color--white;
  overflow: hidden;
  position: relative;
  .Link_Login {
    text-decoration: none;
    &:visited {
      color: #838080;
    }
  }
}

.Link_Login {
  text-decoration: none;
  &:visited {
    color: #838080;
  }
}

.Link_Post {
  box-sizing: border-box;
  width: 240px;
  height: 160px;
  margin: 20px 15px 5px 15px;
  padding: 0px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 8px 0px black;
  background-size: cover;
  font-weight: 1000;
  text-decoration: none;
  &:hover {
    border-bottom: 3px solid #00b894;
  }
}
.Link_PostWrtie {
  font-weight: 1000;
  font-size: 18px;
  text-decoration: none;
  margin-right: 60px;
  color: #00b894;
  &:visited {
    color: #00b894;
  }
}
