.dust-container {
  width: 350px;
  height: 350px;
  border: 1px solid #d3d3d3;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 768px) {
    width: 500px;
    margin-bottom: 20px;
  }
}
