.userbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  position: relative;
  width: 350px;
  height: 350px;
  .userbox {
  }
  .btn {
    color: #3fc556;
    position: absolute;
    bottom: 30px;
    border: 1px solid #3fc556;
    border-radius: 5px;
    padding: 1rem 2rem;
    background-color: white;
    transition: 0.2s;
    font-weight: bold;
    &:hover {
      cursor: pointer;
      background-color: #3fc556;
      color: #eee;
    }
  }
}
