@mixin aligncenter() {
  display: flex;
  align-items: center;
  justify-content: center;
}

$color-main: #3fc556;

.userbox-container {
  @include aligncenter();
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  width: 350px;
  height: 300px;

  @media screen and (max-width: 768px) {
    width: 500px;
    margin-bottom: 20px;
  }
  .link {
    text-decoration: none;
    color: #000;
    .link:visited {
      color: #000;
    }
  }

  .userbox {
    p {
      font-size: 2rem;
      line-height: 2;
    }
    @include aligncenter();
    flex-direction: column;
    .btn-container {
      @include aligncenter();
      bottom: 30px;
      .btn {
        @include aligncenter();
        padding: 1rem 1.5rem;
        border: none;
        border-radius: 10px;
        margin: 0 10px;
        transition: 0.2s;
        &.to-mypage {
          border: 1px solid #d3d3d3;
          &:hover {
            background-color: #d3d3d3;
          }
        }
        &.to-challenge {
          background-color: $color-main;
          color: #f0f0f0;
          &:hover {
            background-color: #24a339;
          }
        }
      }
    }
  }

  .loginbox {
    @include aligncenter();
    flex-direction: column;
    span {
      font-size: 1.8rem;
    }
    .btn {
      @include aligncenter();
      padding: 1rem 1.5rem;
      border: 1px solid $color-main;
      border-radius: 10px;
      transition: 0.2s;
      font-weight: bold;
      color: $color-main;
      margin: 5px;
      background-color: #f2f8f3;
      &:hover {
        background-color: $color-main;
        color: #fff;
      }
    }
  }
}

.guide {
  margin-bottom: 10px;
}
