$color-main: #3fc556;

.logo {
  margin-left: 20px;
  text-decoration: none;
  color: $color-main;
  font-size: 1.5rem;
  &:visited {
    color: $color-main;
  }
  .home {
    display: inline-block;
    align-items: center;
    display: flex;
    img {
      width: 60px;
      height: 50px;
      margin-right: -10px;
    }
  }
  .home {
    display: inline-block;
    align-items: center;
    display: flex;
    img {
      width: 60px;
      height: 50px;
      margin-right: -10px;
    }
  }
}

.tab-item {
  margin-right: 20px;
  position: relative;
  transition: 0.3s;
  text-decoration: none;
  color: #000;
  &::after {
    position: absolute;
    bottom: -5px;
    left: 50%;
    content: "";
    width: 0;
    height: 2px;
    background-color: $color-main;
    transition: 0.3s;
    --webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  &:hover::after {
    width: 100%;
  }

  &:visited {
    color: #000;
  }

  &.active {
    color: $color-main;
  }
}
