$color-main: #3fc556;

.swiper-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d3d3d3;
  border-radius: 10px;

  .swiper-wrapper {
    left: 0;
    right: 0;
    margin: 0 auto;
    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 800px;
      object-fit: cover;
      img {
        width: 798px;
        height: 395px;
        border-radius: 10px;
      }

      @media screen and (max-width: 768px) {
        width: 500px;
        img {
          width: 498px;
        }
      }
    }
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    position: absolute;
    color: $color-main;
  }
  .swiper-button-next::after {
    left: 15px;
  }

  .swiper-button-prev::after {
    right: 15px;
  }
}
