@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

* {
  box-sizing: border-box;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======

>>>>>>> 86d75e60090f3668ec2b573fa75c53d201c838f0
=======

>>>>>>> c4aca958713454e40652461d207f15e68a1f75d5
body {
  margin: 0;
  font-family: 'Nanum Gothic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
